body {
    font-family: 'Prompt', sans-serif !important;
}

/* SweetAlert2 */
.swal2-container {
    font-family: 'Prompt', sans-serif !important;
}

.swal2-title {
    font-weight: 600;
}

.swal2-content, .swal2-html-container {
    font-weight: 400;
}

.swal2-confirm, .swal2-cancel {
    font-family: 'Prompt', sans-serif !important;
}

/******************************************************/